*.jl.*.cov
*.jl.cov
*.jl.mem
*.msh
*.pos
*.png
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/test/Manifest.toml
.vscode
/docs/src/pluto-examples/*.md 
/sandbox/*
/talks/*

.markdownlint.json
Inti.code-workspace
